


<div class="container-fluid" id="container">

<div class="row justify-content-center align-items-center" id="row">

 <div class="col-lg-10" id="col">
    <div class="row align-items-center justify-content-around" id="webCamRow">

      <div class="col-lg-3" id="webCamCol1">
      </div>
      <div class="col-lg-3" id="webCamCol2">

      </div>
    </div>
    <button (click)="nextPage()">go to login</button>
    <button (click)="readyToBattle()">ready to battle</button>
 
</div>
</div>


 
  </div>

  
  

