<div class="container-fluid" id="container">

  <div class="row justify-content-center  align-items-center" id="row">
    <div id="col" class="col-lg-10 col-md-12 col-sm-12">
      <div class="row" id="row-login">
        <div class="col-lg-6 col-md-12 col-sm-12" id="col-login-left">
          <div class="row justify-content-center align-items-center" id="row-logo">
            <div class="col-lg-12 text-center align-items-bottom" id="col-logo">
              <div id="logo"></div>
            </div>
            <div class="col-lg-8" id="col-text-logo">
                <div class="balloon">
                    Asi que sabes improvisar, no?... Demuestralo!
                    </div>
                   
            </div>
            
          </div>
       
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12" id="col-login-right">
          <div class="row justify-content-center">
            <img src="../../../assets/logosignup2.png" height=200  style="margin-top:50px;margin-bottom:40px;" alt="">

        </div>

        <!-- <div class="row justify-content-center align-items-center" id="row-login-text" style="margin-bottom:30px;">

          <div class="col-lg-12 text-center">

            <h3 style="font-family:Cambria;font-weight:100;">Signup</h3>

          </div>
        </div> -->






          
          <div class="row justify-content-center" id="row-login-form">
            <div class="col-lg-7 text-center">
              <form class="example-form" (ngSubmit)="signUp()">
                  <div class="row justify-content-center">
                      <mat-form-field class="example-full-width" style=" margin-bottom: -10px">
                          <input matInput placeholder="Name" [formControl]="nameFormControl">
                          <mat-error *ngIf="nameFormControl.hasError('required')">
                            Name is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                  </div>
               
                <div class="row justify-content-center">
                    <mat-form-field class="example-full-width" style=" margin-bottom: -10px">
                        <input matInput placeholder="Email" [formControl]="emailFormControl">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                          Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                </div>
               
                <div class="row justify-content-center">
                  <mat-form-field class="example-full-width" style=" margin-bottom: -10px">
                    <input matInput type="password" placeholder="Password" [formControl]="passwordFormControl">
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
      
                </div>
                
                <br />
                <br />

                <button mat-raised-button color="primary" type="submit">SignUp</button>
                <br />
                <br />
                <a href="#" class="btn btn-link" (click)='goToLogin()'>already have an account?</a>
                <button (click)="nextPage()" class="btn btn-link">forgot password?</button>
                <br />
              </form>
            </div>
          </div>







        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="nextPage()">Go to home</button>