<div id="wrapper">


<div class="container-fluid" id="header-background-container">

</div>

<div class="container" id="online-users-container">
  <div class="row" id="online-user-row">

    <div class="col-lg-12"  id="online-user-col">
      <div class="row">
        <div class="col text-center" *ngFor="let peer of this.peersArray">
            <img src="../../../assets/Images/maleUser.png" height="30px" alt="Smiley face">
           <p>{{peer.socketid}}</p>
        </div>
      </div>
    </div>

  </div>
  
</div>

<div class="container-fluid" id="button-battle-container">
  <div class="row justify-content-end">
    <div class="col-lg-2">
        <button mat-raised-button (click)="startBattle()">Start Battle</button>
        <button mat-raised-button (click)="nextPage()">Go to next Page</button>


    </div>
  </div>
</div>
</div>

<!-- <div class="container" style="height:800px;width:800px;">
  <div class="row">
    <div class="col-lg-2"  *ngFor="let peer of this.peersArray"  >
      <p>{{peer.socketid}}</p>
    </div>
  </div>
</div> -->


<button mat-raised-button (click)="connectToSignalingServer()">connect to signalingserver</button>




