




<div class="container" id="online-users-container">
  <div class="row" id="online-user-row">

    <div class="col-lg-12"  id="online-user-col">
      <div class="row justify-content-center">
        <div class="col-lg-1 text-center" *ngFor="let peer of this.peersArray" id="user-col">
            <img src="../../../assets/Images/maleUser.png" height="40px" alt="Smiley face" id="user-icon">
           <p>{{peer.nickname}}</p>
        </div>
      </div>
    </div>

  </div>

  
</div>

<div class="container" id="buttons-container">
  <div class="row justify-content-center">
      <button mat-raised-button (click)="nextPage()">Start Battle</button>
  </div>
</div>








