#online-users-container{
    border:1px solid black;
    padding:20px;
    margin-top:150px;
}

#user-col{
    margin:10px;
}
#user-icon{
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}
#user-icon:hover{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#buttons-container{
    margin-top:50px;
}