<div id="wrapper">


<div class="container-fluid" id="header-background-container">

</div>

<div class="container" id="online-users-container">
  <div class="row" id="online-user-row">

    <div class="col-lg-1"  id="online-user-col">
      <div class="row justify-content-center">
          <img src="../../../assets/Images/maleUser.png" height="30px" alt="Smiley face">
      </div>
      <div class="row justify-content-center">
          <!-- {{user.Name}} -->
      </div>
    </div>

  </div>
  
</div>

<div class="container-fluid" id="button-battle-container">
  <div class="row justify-content-end">
    <div class="col-lg-2">
        <button mat-raised-button (click)="startBattle()">Start Battle</button>
        <button mat-raised-button (click)="nextPage()">Go to next Page</button>


    </div>
  </div>
</div>
</div>




<button mat-raised-button (click)="connectToSignalingServer()">connect to signalingserver</button>




